{% extends 'Make_API/index.html' %}
{% include 'messages.html' %}
{% block body %}
    {% load crispy_forms_tags %}
    <!--Login-->
    <div class="container py-5">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {% if  request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
        <p class="text-center"><a href="/password_reset">Forget Password</a></p>

    </div>
{% endblock %}




